{% extends 'layout.html' %}

{% block body %}

  <table>
       <tr>
          <th>Type</th>
          <th>VIN</th>
      </tr>
      <tr>
          <td> {{data[1]}} </td>
          <td> {{data}} </td>
      </tr>
  </table>

  <table>
       <tr>
           <th>Crash ID</th>
           <th>Time</th>
           <th>Speed</th>
           <th>Passengers</th>
           <th>Airbag Deployment</th>
           <th>VIN</th>
      </tr>
  {% for value2 in data2 %}
      <tr>
          <td> {{ value2['crashID'] }} </td>
          <td> {{ value2['time'] }} </td>
          <td> {{ value2['speed'] }} </td>
          <td> {{ value2['passengers'] }} </td>
          <td> {{ value2['airbagDeployment'] }} </td>
          <td> {{ value2['VIN'] }} </td>
      </tr>
  {%  endfor %}
  </table>

  <form action="" method="POST">
      <p>Do you consent to have your information shared?</p>
      <input type="submit">
  </form>
{% endblock %}