{% extends 'layout.html' %}

{% block body %}

  <table>
       <tr>
          <th>Type</th>
          <th>VIN</th>
      </tr>
  {% for value in data %}
      <tr>
          <td> {{ value['type'] }} </td>
          <td> {{ value['VIN'] }} </td>
      </tr>
  {%  endfor %}
  </table>

  <table>
       <tr>
           <th>Crash ID</th>
           <th>Time</th>
           <th>Speed</th>
           <th>Passengers</th>
           <th>Airbag Deployment</th>
           <th>VIN</th>
      </tr>
  {% for value in data2 %}
      <tr>
          <td> {{ value['crashID'] }} </td>
          <td> {{ value['time'] }} </td>
          <td> {{ value['speed'] }} </td>
          <td> {{ value['passengers'] }} </td>
          <td> {{ value['airbagDeployment'] }} </td>
          <td> {{ value['VIN'] }} </td>
      </tr>
  {%  endfor %}
  </table>

    <p class="lead">{{text}}</p>


  <form action="" method="POST">
      <p>Do you consent to have your information shared?</p>
      <input type="submit">
  </form>
{% endblock %}