{% extends 'layout.html' %}

{% block body %}
  <table>
       <tr>
           <th>Type</th>
           <th>VIN</th>
           <th>crashLog</th>
           <th>maintenanceLog</th>
      </tr>
  {% for value in data %}
      <tr>
          <td> {{ value['type'] }} </td>
          <td> {{ value['VIN'] }} </td>
      </tr>
  {%  endfor %}
  </table>
<table>
       <tr>
           <th>Time</th>
           <th>Average Speed</th>
           <th>Total Time</th>
           <th>Braking Force</th>
           <th>Acceleration Force</th>
           <th>VIN</th>
      </tr>
  {% for value in data2 %}
      <tr>
          <td> {{ value['timeSubmitted'] }} </td>
          <td> {{ value['avgSpeed'] }} </td>
          <td> {{ value['totalDriveTimeMins'] }} </td>
          <td> {{ value['avgBrakingForce'] }} </td>
          <td> {{ value['avgAccelerationForce'] }} </td>
          <td> {{ value['VIN'] }} </td>
      </tr>
  {%  endfor %}
  </table>

<table>
       <tr>
           <th>Serivce</th>
           <th>Time</th>
           <th>mechID</th>
           <th>VIN</th>
      </tr>
  {% for value in data3 %}
      <tr>
          <td> {{ value['service'] }} </td>
          <td> {{ value['time'] }} </td>
          <td> {{ value['mechID'] }} </td>
          <td> {{ value['VIN'] }} </td>
      </tr>
  {%  endfor %}
  </table>

{% endblock %}
